<p id="notice"><%= notice %></p>
<div class="container main">
     <h1 class="text-center page-heading">Trails</h1>
     <%= link_to 'New Trail', new_trail_path, :class => "btn btn-primary" %>
     
     <div class="row text-center" style="display: flex; flex-wrap: wrap">
   <% @trails.each do |trail| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <h2><%= trail.name %></h2>
          <h3>Difficulty: <%= trail.difficulty%></h3>
          <h3><%= trail.rating %> Stars</h3>
            <img class="img-responsive" src="<%= trail.image %>">
            <div class="caption">
                <h4><%= trail.location%></h4>
            </div>
            
            <%= link_to 'Show', trail %>
           <%= link_to 'Edit', edit_trail_path(trail) %>
           <%= link_to 'Destroy', trail, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
    
      <% end %>
    </div>
   </div>
    
    <div class="container">

