<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h1 class="page-heading"><%= @trail.name %></h1>
        <h2 class="text-center">Location: <%= @trail.location%></h2>
        <h2 class="text-center">Difficulty: <%= @trail.difficulty%></h2>
        <h2 class="text-center">Rating: <%= @trail.rating %></h2>
      </div>
  </div>
   <div class="row text-center">
      <div class="col-md-12">
          <div class="thumbnail" id="imagebox">
            <%= image_tag(@trail.image, class: "img-responsive")%>
          </div>
        </div>
   </div>
   
   <div class="row">
     <div class="col-md-12">
           <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#features" role="tab">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#map" role="tab">Map</a>
            </li>
        </ul>
    
    <!--Info boxes-->
    <div class="tab-content">
            <div class="tab-pane active" id="description" role="tabpanel">
                <div id="description">
                    <div class="row">
                      <div class="col-md-4">
                        <p><%= @trail.description %></p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="features" role="tabpanel">
                <div id="features">
                    <div class="row">
                      <div class="col-md-4">
                          <p><%= @trail.features %></p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="map" role="tabpanel">
                <div id="map">
                    <div class="row">
                      <div class="col-md-12">
                          <iframe id="map" width="70%" height="400" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDwssI058aGR1CHqFW3VMYG8InET6lxh5A&center=<%= @trail.latitude%>,<%=@trail.longitude%>&zoom=18%mapType=satellite"
 allowfullscreen></iframe>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div> <!-- Close main container --> 
<div class="container footer">


